@model List<ExerciseForLearningWords.Models.WordsListView>

@{
    ViewData["Title"] = "Creator";
}

<div class="row">
    <div class="col-md-4" style="border: 1px dashed red">
        @foreach(var a in Model)
        {
            <p>@a.Name</p>

        }
            
    </div>
    <div class="col-md-8">.col-md-8</div>
</div>

